<!DOCTYPE html>
<html>
<head>    
    <title>Restauran</title>
    <style>
        footer {
            text-align:center;
            padding:15px;
            background:#333;
            color : white;
            position: fixed;
            width: 90%;
        }
    </style>   
</head>
<body>
    {% block content %}
    {% endblock %}

    <footer style= "margin-top : 50px; text-align:center; background: #f4f4f4 ; padding:10px;">
        <p><strong>opening Hours:</strong>Mon-Fri: 11am-9pm, Sat-Sun: 10am=10pm</p>
        <p>&copy; 2025 MyRestaurant. All Rights Reserved</p>
    </footer>
</body>            
</html>   