<!DOCTYPE html>
<html>
<head>
    <title> Our Menu</title>
</head>
{% block content %}
<body style="font-family: Arial; margin:20px;">

    <h1 style = "text-align:center; margin:20px;">Our Menu</h1>

    <form method="GET" action="" style="text-align:center; margin:20px;">
        <input type = "text" name="q" placeholder="search menu items"
            style="padding:8px; width:260px; border-radius:5px; border:1px solid #ccc;">
        <button type="submit" style="padding:8px 15px; border:none; background:#4CAF50; color:white;">    
            search
        </button>   

    <div style =  "display:flex; flex-wrap; justify-content:center ; gap:20px; padding:20px;">
        {% for item in menu_item %}
        <div style = "border:1px solid #ddd; border-radius:10px; padding:15px width:250px">
            {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" style = "max-width: 100%; height: auto; ">
            {% endif %}
                <h3>{{item.name}}</h3>
                <p>{{item.description}}
                <p><strong>{{item.name}}</strong></p>
        </div>
        {% empty %}
        <p>no menu items available yet </p>
        {% endfor %}    
    </div>
{% endblock %}    
</body>
</html>            