<!DOCTYPE html>
<html>
<head>
    <title>Reservations</title>
    <style>
        body
        {
            font-family: Arial, sans-serif;
            background-color : #ad3636;
            text-align: center;
            padding : 50px;
        }
        h1
        {
            color: #853d3d;

        }
        p
        {
            font-size:20px;
            color:#555;
        }
    </style>
</head>
<body>
    <h1>Reservations</h1>
    <p>Soon reservation option will be there in our restaurant website  </p>
</body>        
</html>